<div class="signin-container">
    <mat-card class="signin-card">
        <form [formGroup]="formSignin" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Username</mat-label>
                <input matInput type="text" placeholder="Username" formControlName="username">
                <mat-icon matSuffix>account_circle</mat-icon>
            </mat-form-field>
        
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Password</mat-label>
              <input matInput type="password" placeholder="Password" formControlName="password">
              <mat-icon matSuffix>password</mat-icon>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit" class="full-width" [disabled]="formSignin.invalid">Signin</button>
        </form>
    </mat-card>
</div>

  